.game-details-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 35px;
    margin-left: 200px;
}

.game-details-article {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.game-details-article-content {
    padding: 40px;
    padding-bottom: 0;
}

.game-details-article-content h2 {
    margin: 0px 0px 60px 0px;
    font-size: 40px;
    text-align: center;
    width: 500px;
}

.game-details-image { 
    display: block;
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.game-details-image img {
    width: 100%;
    display: inline;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}

.game-details-description {
    line-height: 30px;
}

.btns {
    margin-top: 60px;
}

.btns .btn {
    margin-right: 10px;
}


@media all and (max-width: 1230px) {
    .game-details-section {
        align-items: center;
    }

    .game-details-article {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .game-details-article-content {
        height: 160px;
    }

    .game-details-article-content h2 {
        font-size: 30px;
        margin: 0;
    }
}

@media all and (max-width: 980px) {
    .game-details-image { 
        width: 500px;
        height: 250px;
    }
}

@media all and (max-width: 780px) {
    .game-details-image { 
        width: 400px;
        height: 200px;
    }

    
}

@media all and (max-width: 740px) {
    .game-details-main { 
        flex-direction: column;
    }
    
    .game-details-section {
        margin: 0;
        padding-top: 0;
    }
}