header {
    background-color: rgb(59, 56, 56);
    width: 100%;
    position: sticky;
    top: 0;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 0px 40px;
    align-items: center;
}

.top-nav-header a {
    text-decoration: none;
    font-size: 40px;
    margin: 0px;
    padding-top: 10px;
    color: #00C69E;
}

.nav-icon-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.nav-icon-section a {
    color:  #00C69E;
}

.nav-icon {
    width: 100px;
    padding-top: 10px;
}

.nav-icon img {
    width: 100%;
}

.top-nav-list {
    display: flex;
}

.top-nav-list li {
    list-style: none;
    padding: 20px 20px;
}

.top-nav-list li a {
    text-decoration: none;
    color: #00C69E;
}


@media all and (max-width: 740px) {
    .top-nav {
        flex-direction: column;
    }

    .nav-icon-section {
        margin-left: -10px;
    }

    .top-nav-auth-section {
        margin-left: -30px;
    }
}