aside {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 200px;
    min-height: 600px;
    color: white;
    align-items: center;
    position: fixed;
}

aside .active {
    position: fixed;
    margin-top: 64px;
}

.aside-header {
    display: flex;
}

.aside-header h2 {
    color: rgb(166, 169, 169); 
    margin-top: 0;
    margin-right: 10px;
}

.aside-icon {
    margin-top: 6px;
    color: #00C69E;
}

.aside-icon:hover {
    cursor: pointer;
}

.aside-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    left: -200px;
}

.aside-list li {
    list-style: none;
    margin: 15px;
}

.nav-category {
    text-decoration: none;
    color: rgb(143, 143, 143);
}

.selected-category {
    text-decoration: none;
    color: #00C69E;
    border: 2px solid #00C69E;
    padding: 6px 14px;
    border-radius: 22px;
}