aside {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 200px;
    min-height: 600px;
    color: white;
    align-items: center;
    position: fixed;
}

aside .hide {
    position: absolute;
    left: -200px;
}

.aside-header {
    display: flex;
}

.aside-header h2 {
    color: rgb(166, 169, 169); 
    margin-top: 0;
    margin-right: 10px;
}

.aside-icon {
    margin-top: 6px;
    color: #00C69E;
}

.aside-icon:hover {
    cursor: pointer;
}

.aside-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    background-color: rgb(48, 48, 48);
}

.aside-list li {
    list-style: none;
    margin: 15px;
}

.nav-category {
    text-decoration: none;
    color: rgb(143, 143, 143);
}

.selected-category {
    text-decoration: none;
    color: #00C69E;
    border: 2px solid #00C69E;
    padding: 6px 14px;
    border-radius: 22px;
}


@media all and (max-width: 940px) {

    aside {
        min-height: 20px;
    }
    
    .aside-list {
        position: absolute;
        left: 60px;
        margin-top: 64px;
        align-items: center;
    }

    aside .hide {
        left: -600px;
    }
}

@media all and (max-width: 740px) {
    aside {
        position: relative;
    }
}