html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(48, 48, 48);
}

a {
  text-decoration: none;
}