html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
}

main {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

a {
  text-decoration: none;
}